[Unit]
Description=Your Java Application
After=network.target

[Service]
User=prod
Group=prodGroup
WorkingDirectory=/  # Path where your JAR file is located
ExecStart=/usr/bin/java -jar assignment1-0.0.1-SNAPSHOT.jar
Restart=always
RestartSec=10
SyslogIdentifier=webapp
EnvironmentFile=-/etc/environment

[Install]
WantedBy=multi-user.target
